.header{
    padding: 20px;
    height: 75px;
}
.headerFooterFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.textoProductos{
    text-align: center;
}
.footer{
    background-color: rgb(99, 99, 99);
    padding: 30px;
}
.terminos{
        text-align: center;
}
.redes{
        text-align: right;
}
.destacadosImg{
    width: 266px;
    height: 330px;
    /*margin-left: 50px;*/
}
.boton{
    color: white;
    background-color: red;
    width: 224px;
    height: 25px;
    margin-left: 50px;
}
/*---ESPACIADOS---*/
.espaciado{
    margin-top: 50px;
}
.espacioProductos{
    margin: 40px;
}
.footerLetra{
    width: 33%;
}
.botonBuscar{
    width: 200px!important;
    color: white!important;
    border: 1px solid rgb(170, 170, 170)!important;
    background-color: #9e3f1f!important;
}
