.fondoProductos{
    margin: 10px;
    padding: 10px;
    background-color: rgb(234, 234, 234);
    border: 1px solid rgb(175, 175, 175);
}
.botonProductos{
    width: 266px!important;
    background-color: #A4320B!important;
    border: none!important;
    border-radius: 0px!important;
}
.botonColor{
    background-color: #A4320B!important;
    border: none!important;
}
.destacadosGuitarImg{
    background-image: url(../imagenes/guitar-destacado2.png);
}
.destacadoBateriaImg{
    background-image: url(../imagenes/bateria-destacado2.png);
}
.destacadoBajoImg{
    background-image: url(../imagenes/bajo-destacado2.png);
}