@media only screen and (max-width:480px) {
    .imgCompra{
        width: 100%;
        height: 300px;
        margin-top: 10px;

    }
    .pagosEnvios{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 5px;
        margin-top: 50px;
    }
    .formaPago{
        width: 70%;
        margin-right: 0px;
    
    }
    .mediosEnvios{
        width: 70%;
        margin-left: 0px;
    
    }
    .imgRecomendado{
        margin-top: 50px;
    }
    .tituloForm{
        font-size: 1.2rem;
    }
    .tituloMenu{
        color: white;
        font-size: 1.2rem;
    }
    .botonBuscar{
        width: 75px!important;
        height: 30px;
    }
    .recomendacionAbrir{
        display: flex;
        flex-direction: column;
        /*justify-content: center;*/
        margin: 10px;
        /*margin-top: 700px;*/
        height: 200px;
    }
    .textoRecomedacion{
        justify-content: center;
        font-size: 1.8rem;
        margin-top: 30px;
    }
    .botonRecomendacionEspacio{
        padding: 35px;
    }
    .botonRecomedacion{
        width: 200px;
        height: 55px;
        background-color: #A4320B !important;
        border: none!important;
    
    }
    .fondoImg{
        background-image:url("../imagenes/music-store-back.jpg");
        background-attachment: local;
    }
    .botonProductos {
        width: 2660px !important;
        background-color: #A4320B !important;
        border: none !important;
        border-radius: 0px !important; 
    }
    .botonCompra {
        width: 230px !important;
    }
}
@media only screen and (max-width:1024px) {
    .imgCompra{
        width: 100%;
        height: 400px;
        margin-top: 10px;
    }
    .gridCompraFlex{
        display: flex;
        justify-content: space-evenly;
    }
    .imgRecomendado{
        width: 230px;
    }
    .botonProductos{
        width: 266px!important;
        background-color: #A4320B !important;
        border: none !important;
        border-radius: 0px !important;
    }
    .botonCompra {
        width: 230px !important;
    }

}

