/*---AUDIO---*/
.audioImg{
    background-image: url(../imagenes/Audio.jpg);
    height: 350px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}
.promoAudio1{
    background-image: url(../imagenes/audio-promo1.png);
}
.promoAudio2{
    background-image: url(../imagenes/audio-promo2.png);
}
.promoAudio3{
    background-image: url(../imagenes/audio-promo3.png);
}
/*---BAJO---*/
.bajoImg{
    background-image: url(../imagenes/BAJO.jpg);
    height: 350px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}
.promoBajo1{
    background-image: url(../imagenes/bajo-promo1.png);
}
.promoBajo2{
    background-image: url(../imagenes/bajo-promo2.png);
}
.promoBajo3{
    background-image: url(../imagenes/bajo-promo3.png);
}
/*---GUITARRA---*/
.guitarraImg{
    background-image: url(../imagenes/GUITARRA4.jpg);
    height: 350px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}
.promoGuitarra1{
    background-image: url(../imagenes/guitarra-promo1.png);
}
.promoGuitarra2{
    background-image: url(../imagenes/guitarra-promo2.png);
}
.promoGuitarra3{
    background-image: url(../imagenes/guitarra-promo3.png);
}
/*---PERCUSION---*/
.percusionImg{
    background-image: url(../imagenes/PERCUSION.jpg);
    height: 350px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}
.promoPercusion1{
    background-image: url(../imagenes/percusion-promo1.png);
}
.promoPercusion2{
    background-image: url(../imagenes/percusion-promo2.png);
}
.promoPercusion3{
    background-image: url(../imagenes/percusion-promo3.png);
}
/*---TECLADOS Y PIANOS---*/
.tecladoPianoImg{
    background-image: url(../imagenes/TECLADOS-Y-PIANO.jpg);
    height: 350px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}
.promoTecladoPiano1{
    background-image: url(../imagenes/teclado-piano-promo1.png);
}
.promoTecladoPiano2{
    background-image: url(../imagenes/teclado-piano-promo2.png);
}
.promoTecladoPiano3{
    background-image: url(../imagenes/teclado-piano-promo3.png);
}
/*--RECOMENDACIONES--*/
.recomendacionesImg{
    background-image: url(../imagenes/recomendacionesImg.png);
    height: 350px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}
.recomendacionPlaylist{
    padding: 20px;
    margin: 10px;
    margin-top: 40px;
}

.recomendacionAbrir{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    margin-top: 700px;
    height: 150px;
}
.textoRecomedacion{
    font-size: 2.5rem;
    padding-left: 10px;
}
.botonRecomendacionEspacio{
    padding-right: 20px;
    padding-top: 35px;
}
.botonRecomedacion{
    width: 300px;
    height: 55px;
    background-color: #A4320B !important;
    border: none!important;

}