.fondoImg{
    background-image:url("../imagenes/music-store-back.jpg");
    background-attachment: fixed;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}
.destacadosGuitarImg{
    background-image: url(../imagenes/guitar-destacado2.png);
}
.destacadoBateriaImg{
    background-image: url(../imagenes/bateria-destacado2.png);
}
.destacadoBajoImg{
    background-image: url(../imagenes/bajo-destacado2.png);
}
